.btn--primary {
  display: flex;
  height: 60px;
  width: 300px;
  align-items: center;
  justify-content: center;
  border-left: 10px solid $white;
  color: $white;
  background: $primary;
  font-size: 1.3rem;
  line-height: 1em;
  font-weight: normal;

  i {
    margin-left: 7px;
  }
}

.btn--center {
  margin: 0 auto;
}

.btn--secondary {
  display: flex;
  height: 75px;
  width: 270px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  border-left: 10px solid $primary;
  color: $primary;
  background: $white;
  font-size: 1.3rem;
  line-height: 1em;
  font-weight: normal;

  i {
    margin-left: 7px;
  }
}

.btn--teal {
  font-size: 1.2rem;
  line-height: 1rem;
  color: $primary;

  @include mq(xl) {
    font-size: 1.77rem;
  }

  i {
    position: relative;
    left: 10px;
    top: 4px;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    i {
      left: 20px;
    }
  }
}
.btn--white {
  font-size: 1.77rem;
  line-height: 1rem;
  color: $white;
  border: none;
  background: none;

  i,
  &::after {
    position: relative;
    left: 10px;
    top: 4px;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    i,
    &::after {
      left: 20px;
    }
  }
}
