.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  transition: all 0.4s ease-in-out;

  @include mq(xl) {
    padding: 0 0 0 35px;
  }
  @include mq(xxl) {
    padding: 0 0 0 5.5vw;
  }

  .sub-menu {
    display: none;
  }

  .logo {
    .m-logo {
      height: 50px;
      margin-right: 15px;
      filter: brightness(0) invert(1);
      transition: all 0.4s ease-in-out;

      @include mq(md) {
        height: 75px;
      }

      @include mq(xl) {
        margin-top: 50px;
        height: 80px;
      }

      @include mq(xxl) {
        height: 90px;
      }
      @include mq(xxxl) {
        height: 111px;
      }
    }
  }

  button {
    display: flex;
    width: 35px;
    height: 35px;
    border: 1px solid $white;
    align-items: center;
    justify-content: center;
    background: transparent;
    flex-direction: column;
    margin-left: 10px;

    @include mq(md) {
      margin-left: 30px;
    }

    @include mq(xl) {
      display: none;
    }

    span {
      width: 100%;
      height: 2px;
      background: $white;
      margin: 2px 0;
    }
  }

  .right--nav {
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
    margin-left: auto;

    @include mq(xl) {
      width: 100%;
    }

    .top--nav {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      transition: all 0.4s ease-in-out;

      @include mq(xl) {
        border-bottom: 1px solid $white;
      }

      > * {
        height: 128px;
        align-items: center;
        display: flex;
        transition: all 0.4s ease-in-out;
      }

      p.address--nav {
        margin: 0;
        padding: 0 10px;
        font-size: 16px;
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(to bottom, transparent, $white) 1 100%;
        border-left: 0;
        display: none;

        @include mq(xl) {
          display: flex;
        }

        @include mq(xxl) {
          padding: 0 27px;
        }

        a {
          color: $white;
        }
        i {
          margin-right: 7px;
          color: $white;
        }
      }

      .phone--nav {
        color: $white;
        font-size: 16px;
        height: 80px;
        transition: all 0.4s ease-in-out;
        white-space: nowrap;

        @include mq(md) {
          padding: 0 10px;
          height: 128px;
        }

        @include mq(xxl) {
          padding: 0 20px;
        }

        i {
          height: 50px;
          width: 50px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: $white;
        }
        span {
          display: none;
          @include mq(md) {
            display: inline-block;
          }
        }
      }

      .social-icons {
        display: none !important;
        padding: 0 10px;
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(to bottom, transparent, $white) 1 100%;
        border-right: 0;

        @include mq(xl) {
          display: flex !important;
        }

        @include mq(xxl) {
          padding: 0 24px;
        }

        li {
          a {
            height: 50px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            transition: all 0.4s ease-in-out;
            background: transparent;

            @include mq(xxl) {
              width: 50px;
            }

            &:hover {
              background: $primary;
            }
          }
        }
      }

      .button--area {
        padding: 0 10px;
        border-width: 1px;
        border-style: solid;
        border-right: 0;
        display: none;

        @include mq(xl) {
          display: flex;
          border-image: linear-gradient(to bottom, transparent, $white) 1 100%;
        }

        @include mq(xxl) {
          padding: 0 110px 0 40px;
        }

        .btn--primary {
          width: 290px;

          @include mq(xxl) {
            width: 300px;
          }
        }
      }
    }
    .bottom-nav {
      display: none;
      align-items: flex-start;
      justify-content: flex-end;
      transition: all 0.4s ease-in-out;

      @include mq(xl) {
        display: flex;
      }

      @include mq(xxl) {
        padding-right: calc(110px - 2vw);
      }

      .menu {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          &.current-menu-item {
            > a {
              color: $primary;

              &::before {
                background: $primary;
                width: 42px;
              }
            }
          }
          > a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 32px 1.4vw 10px;
            position: relative;
            color: $white;

            @include mq(xxl) {
              padding: 32px 2vw 10px;
            }

            &::before {
              content: "";
              display: block;
              width: 0;
              height: 2px;
              position: absolute;
              bottom: 4px;
              left: 50%;
              transform: translateX(-50%);
              background: transparent;
              transition: all 0.4s ease-in-out;
            }
          }
          &.menu-item {
            position: relative;
            &:hover {
              > .sub-menu {
                display: block;
                width: 300px;
                background: $charcoal;
                position: absolute;
                top: 100%;
                left: 0;
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                  position: relative;

                  i {
                    position: absolute;
                    right: 22px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $white;
                  }
                  &:hover {
                    > i {
                      color: $primary;
                    }
                  }
                  a {
                    background: transparent;
                    padding: 12px 23px;
                    color: $white;
                    justify-content: space-between;

                    &::before {
                      display: none !important;
                    }

                    &:hover {
                      color: $primary;
                    }
                  }

                  &.menu-item {
                    position: relative;
                    &:hover {
                      > .sub-menu {
                        top: 0;
                        left: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // offset if WP admin bar is present
  .admin-bar & {
    top: 46px;
    @media (min-width: 783px) {
      top: 32px;
    }
  }

  &.sticky {
    background: $charcoal;
    padding: 0 15px;

    .logo {
      .m-logo {
        height: 50px;
        width: auto;
        margin: 0;

        @include mq(md) {
          height: 60px;
        }
      }
    }

    .right--nav {
      flex-direction: row-reverse;
      .top--nav {
        border: none;
        .social-icons,
        .address--nav,
        .button--area {
          display: none !important;
        }

        .phone--nav {
          height: 81px;
        }
      }
    }
    .bottom-nav {
      padding: 0;
      margin: 0 auto;

      .menu {
        > li.menu-item {
          a {
            padding: 25px 1vw;

            @include mq(xxl) {
              padding: 25px 2vw;
            }

            &::before {
              bottom: 15px;
            }
          }
        }
      }
    }
  }
}

body.tax-procedure_type {
  .site-nav {
    button {
      border-color: $black;

      span {
        background: $black;
      }
    }
    .logo {
      .m-logo {
        filter: none;
      }
    }
    .right--nav {
      p.address--nav {
        i,
        a {
          color: $black;
        }
      }
      .top--nav {
        @include mq(xl) {
          border-bottom: 1px solid $black;
        }

        .phone--nav {
          color: $black;

          i {
            color: $black;
          }
        }

        .social-icons {
          li {
            a {
              color: $black;
            }
          }
        }
      }
      .bottom-nav {
        .menu {
          > li {
            a {
              color: $black;
            }
          }
        }
      }
    }

    &.sticky {
      .logo {
        .m-logo {
          filter: brightness(0) invert(1);
        }
      }
      .right--nav {
        .top--nav {
          .phone--nav {
            color: $white;
            i {
              color: $white;
            }
          }
        }
        .bottom-nav {
          .menu {
            > li {
              a {
                color: $white;
              }
            }
          }
        }
      }
      button {
        border-color: $white;

        span {
          background: $white;
        }
      }
    }
  }
}
