.block {
  position: relative;
}

.page__gallery {
  padding: 120px 15px 80px;

  @include mq(md) {
    padding: 180px 0 80px;
  }
  @include mq(xl) {
    padding: 325px 0 145px;
  }

  h1 {
    border-bottom: 1px solid $primary;
    color: $primary;
    font-weight: normal;
    padding-bottom: 17px;
    margin-bottom: 40px;
    font-size: 1.77rem;
    list-style: 1.3em;
    margin-top: 75px;
  }

  .breadcrumbs {
    font-size: 16px;
    line-height: 1em;
    color: $charcoal;

    a {
      color: $charcoal;
    }

    span {
      color: $primary;
    }
  }
}

.blog--page {
  padding: 80px 15px;
  @include mq(md) {
    padding: 112px 0;
  }

  h1 {
    font-size: 2.33rem;
    line-height: 1.28em;
    margin-bottom: 40px;
    color: $primary;
    font-weight: normal;
  }
  h2 {
    font-size: 2rem;
    line-height: 1.28em;
    color: $primary;
    font-weight: normal;
  }
}

.sidebar-blog {
  .widget {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        a {
          color: $charcoal;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.5px;
          line-height: 50px;
          display: block;
          position: relative;
          z-index: 0;
          font-weight: normal;

          &::before {
            content: "";
            display: block;
            background-color: transparent;
            width: calc(100% + 40px);
            position: absolute;
            left: -20px;
            top: 0;
            height: 100%;
            z-index: -1;
            transition: all 0.4s ease;
          }

          &:hover {
            &::before {
              background: #f5f5f5;
            }
          }
        }
      }
    }
  }
}

.block__testimonial {
  background: $white;
  padding: 15px;
  border: 1px solid rgba($charcoal, 0.1);
  text-align: left;
  font-size: 1rem;
  font-weight: normal;
  border-radius: 10px;
  margin-bottom: 35px;
  color: $charcoal;
  box-shadow: rgba($black, 0.15) 0 4px 10px;
  @include mq(md) {
    padding: 35px;
  }

  h3 {
    font-weight: normal;
    font-size: 1.4rem;
  }
}

.mjRatingsListDetails {
  background: transparent !important;
  padding: 0;
  text-align: left;
  font-size: 1rem;

  .mjReview {
    background: $white;
    padding: 15px !important;
    border: 1px solid rgba($charcoal, 0.1);
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 10px;
    margin-bottom: 35px !important;
    color: $charcoal;
    box-shadow: rgba($black, 0.15) 0 4px 10px;
    @include mq(md) {
      padding: 35px !important;
    }

    h3 {
      font-weight: normal;
      font-size: 1.4rem;
    }
  }
}

.event--page {
  padding: 80px 15px;
  @include mq(md) {
    padding: 112px 0;
  }
  h1 {
    font-size: 2.33rem;
    line-height: 1.28em;
    margin-bottom: 40px;
    color: $primary;
    font-weight: normal;
  }
  h2 {
    font-size: 2rem;
    line-height: 1.28em;
    color: $primary;
    font-weight: normal;
  }
  h3 {
    font-size: 2rem;
    line-height: 1.28em;
    color: $primary;
    font-weight: normal;
    margin-bottom: 25px;
  }
  .btn--primary {
    margin-top: 35px;
  }

  .swiper-container {
    padding: 60px 0 10px;

    @include mq(md) {
      padding: 60px 0;
    }

    .swiper-slide {
      opacity: 0;

      &.swiper-slide-active,
      &.swiper-slide-visible {
        opacity: 1;
      }
      img {
        box-shadow: 0 5px 25px rgba(17, 21, 70, 0.25);
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 50vh;
        width: auto;
      }
    }

    .swiper--nav {
      z-index: 1;
      @include mq($until: md) {
        position: relative;
        display: block;
        height: 50px;
        width: 130px;
        margin: 12px auto;
      }
      .swiper-button-prev,
      .swiper-button-next {
        background: $primary;
        border: 1px solid $primary;
        box-sizing: border-box;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background-image: none !important;

        &:hover {
          background: $white;
          color: $primary;
        }
      }
    }
  }
}
.event--holder {
  article {
    background: #fdfdfd;
    border: 2px solid #dddddd;
    border-radius: 5px;
    padding: 14px 25px !important;
    font-size: 16px !important;
    line-height: 21px;
    color: #555;
    text-transform: initial;
    margin: 35px;
  }
}

.price_slider {
  margin-bottom: 1em;
}

.price_slider_amount {
  text-align: right;
  line-height: 2.4em;
  font-size: 0.8751em;
}

.price_slider_amount .button {
  font-size: 1.15em;
}

.woocommerce .price_slider_amount button[type="submit"].button {
  float: left;
  @extend .btn--primary;
  max-width: 100%;
  border-left: 0;
  height: 48px;
}

.woocommerce .price_label {
  text-align: center;
}

.woocommerce .widget ul li.chosen a {
  position: relative;
  padding-left: 30px;

  &::before {
    content: "\f057";
    display: block;
    position: absolute;
    font-family: $fontawesome;
    color: red;
    left: 0;
  }
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 0.9em;
  height: 0.9em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: #e7e7e7;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fefefe),
    to(#e7e7e7)
  );
  background: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background: -moz-linear-gradient(center top, #fefefe 0%, #e7e7e7 100%);
  background: -moz-gradient(center top, #fefefe 0%, #e7e7e7 100%);
  outline: none;
  top: -0.3em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
    0 0 0 1px rgba(255, 255, 255, 0.65) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
    0 0 0 1px rgba(255, 255, 255, 0.65) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
    0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}

.ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background: none repeat scroll 0 0 $primary;
  box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

.price_slider_wrapper .ui-widget-content {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background: #1e1e1e;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1e1e1e),
    to(#6a6a6a)
  );
  background: -webkit-linear-gradient(#1e1e1e, #6a6a6a);
  background: -moz-linear-gradient(center top, #1e1e1e 0%, #6a6a6a 100%);
  background: -moz-gradient(center top, #1e1e1e 0%, #6a6a6a 100%);
}

.ui-slider-horizontal {
  height: 0.5em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
