.block--contact {
  background: linear-gradient(
    to bottom,
    $primary 0,
    $primary 50%,
    $white 50%,
    $white 100%
  );
  color: $white;
  padding: 0 15px;

  .content--top {
    z-index: 1;
    position: relative;
  }
  .map--area {
    z-index: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
  }

  .content--area {
    padding-top: 78px;
    line-height: 1.5em;
    color: $white;
    font-size: 1.2rem;

    @include mq(xl) {
      font-size: 1.777rem;
    }

    a {
      color: $white;
      line-height: 1.5em;
    }

    p {
      padding-left: 40px;
      position: relative;

      i {
        font-size: 22px;
        position: absolute;
        left: 0;
        top: 5px;

        @include mq(xl) {
          top: 13px;
        }
      }
    }
  }

  .address--area,
  .phone--area {
    margin-bottom: 50px;
  }

  .form--area {
    margin-top: 48px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 25px 75px rgba(17, 21, 70, 0.25);
    padding: 25px 25px;
    margin-bottom: 35px;
    z-index: 9;

    @include mq(sm) {
      margin-bottom: -80px;
    }
    @include mq(md) {
      margin-bottom: -198px;
      padding: 35px 36px 56px;
    }

    h2 {
      font-size: 2rem;
      font-weight: normal;
      line-height: 1.27em;
      margin-bottom: 22px;

      @include mq(md) {
        font-size: 3rem;
      }
      @include mq(xl) {
        font-size: 4rem;
      }
    }

    .gform_wrapper {
      margin: 0;

      ::placeholder {
        color: #dddddd;
      }
      ul.gform_fields {
        li.gfield {
          margin: 0 0 20px;

          @include mq(lg) {
            margin: 0 0 40px;
          }

          input,
          textarea {
            background: #fdfdfd;
            border: 2px solid #dddddd;
            border-radius: 5px;
            padding: 14px 25px !important;
            font-size: 16px !important;
            line-height: 21px;
            color: #555;
            text-transform: initial;
          }

          label#label_2_5_1 {
            display: inline-block;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            color: $charcoal;
          }
          &#field_2_4 {
            margin-bottom: 22px;
          }
        }
        li label {
          margin: 2px 0 0 21px;
          width: 100%;
          max-width: 100%;
        }
        label::after,
        label::after {
          content: "";
          opacity: 1;
        }
        li input[type="radio"],
        li input[type="checkbox"] {
          display: none;
        }
        li[class^="gchoice"] label:before,
        li[class^="gchoice"] label:after,
        li[class^="gchoice"] label:before,
        li[class^="gchoice"] label:after {
          bottom: 0;
          content: "";
          margin: auto;
          position: absolute;
          top: 0;
        }
        li[class^="gchoice"] label:after,
        li[class^="gchoice"] label:after {
          content: "";
          background-color: $white;
          border: solid 2px $primary;
          border-radius: 0;
          display: inline-block;
          height: 16px;
          left: 0;
          position: absolute;
          top: 6px;
          transition: left 0.25s, background-color 0.13s;
          width: 16px;
        }
        input[type="checkbox"]:checked + label:before,
        input[type="radio"]:checked + label:before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          background: $primary;
          font-size: 18.5px;
          font-weight: 700;
          left: 3px;
          /*.75px*/
          text-align: center;
          top: 6px;
          z-index: 9;
        }
      }
    }

    .btn--primary {
      border: none;
      max-width: 100%;
    }
  }

  .social-icons {
    justify-content: space-between;
    padding-right: 30px;
    margin-top: 50px;

    @include mq(md) {
      margin-top: 100px;
    }

    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        transition: all 0.3s ease-in-out;

        @include mq(xl) {
          height: 75px;
          width: 75px;
        }

        &:hover {
          background: $white;
          color: $primary;
        }
      }
    }
  }

  .directions--area {
    padding: 81px 0 137px;
    color: $charcoal;

    h2 {
      text-align: center;
      margin-bottom: 39px;
      font-size: 2rem;
      line-height: 1.3em;
      font-weight: normal;

      @include mq(md) {
        font-size: 3rem;
      }
      @include mq(xl) {
        font-size: 4rem;
      }
    }

    h3 {
      font-weight: normal;
      font-size: 1.2rem;
      margin-bottom: 25px;

      @include mq(md) {
        font-size: 1.77rem;
      }
    }
  }
}
