.block--doctor_page_header {
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;

  @include mq(md) {
    height: 100vh;
    align-items: flex-end;
    max-height: 600px;
    flex-direction: row;
    border-bottom: 240px solid $primary;
  }

  @include mq(lg) {
    border-bottom: 200px solid $primary;
    max-height: 700px;
  }
  @include mq(xl) {
    max-height: unset;
  }

  .image__holder {
    position: relative;
    z-index: 0;
    @include mq(md) {
      @include absolute_cover;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      z-index: 1;
      @include mq(md) {
        @include absolute_cover;
      }
    }

    &::after {
      @include pseudo_cover;
      z-index: 2;
      background: rgba($black, 0.5);
    }
  }

  .content--area {
    position: relative;
    padding: 35px 15px;
    background: $white;

    @include mq(md) {
      text-align: center;
      border-radius: 10px;
      box-shadow: 0px 25px 75px rgba(17, 21, 70, 0.25);
      bottom: -200px;
      padding: 25px 25px;
    }

    @include mq(lg) {
      bottom: -149px;
      padding: 35px 50px;
    }
    @include mq(xl) {
      padding: 45px 70px;
    }
    @include mq(xxl) {
      padding: 55px 100px;
    }

    h1 {
      color: $primary;
      margin-bottom: 35px;
      font-size: 2rem;
      line-height: 1.28em;

      @include mq(md) {
        font-size: 2.33rem;
        margin-bottom: 50px;
      }
    }

    .btn--primary {
      margin: 50px auto 0;
    }
  }
}
