.block--offset_box {
  position: relative;
  background: $primary;

  .image__holder {
    img {
      width: 100%;
      height: auto;
    }
  }

  .primary--bg {
    background: $primary;

    .content--area {
      padding: 35px 15px;
      background: $white;
      position: relative;

      @include mq(sm) {
        bottom: 30px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 25px 75px rgba(17, 21, 70, 0.25);
      }

      @include mq(md) {
        bottom: 100px;
        padding: 35px 50px;
      }
      @include mq(xl) {
        bottom: 241px;
        padding: 55px 100px;
      }

      h2 {
        margin-bottom: 50px;
      }

      p {
        margin-bottom: 40px;
      }

      .btn--primary {
        margin: 0 auto;
      }
    }
  }
}
