.block--page_header {
  position: relative;
  height: 800px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 103px;

  .image__holder {
    @include absolute_cover;
    z-index: 0;
    img {
      @include absolute_cover;
      object-fit: cover;
      z-index: 1;
    }

    &::after {
      @include pseudo_cover;
      z-index: 2;
      background: rgba($black, 0.5);
    }
  }

  .header--content {
    margin-left: -75px;

    h4 {
      font-size: 4rem;
      line-height: 1em;
      font-weight: normal;
      color: $white;
    }
  }
}
