.block--team_list {
  padding: 258px 0 232px;

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.777rem;
    line-height: 1.28em;
    color: $primary;
    padding-bottom: 17px;
    border-bottom: 1px solid $primary;
    margin-bottom: 28px;
  }

  .team--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 289px);
    grid-gap: 4px;

    .single--staff {
      position: relative;
      display: flex;
      align-items: flex-end;
      color: $white;
      z-index: 0;

      img {
        width: 100%;
        height: auto;
      }

      &::before {
        @include pseudo_cover;
        z-index: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        opacity: 0.3;
      }
      .staff--content {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: calc(100% - 60px);
      }

      h3 {
        font-size: 1.33rem;
        line-height: 1.25em;
        margin: 0;
      }

      p {
        font-size: 16px;
        line-height: 1.875em;
        margin: 0;
      }
    }
  }
}
