.block--teal_two-column {
  background: $primary;
  color: $white;
  padding: 50px 15px;

  @include mq(md) {
    padding: 70px 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h2 {
    color: $white;

    &.mar-bot {
      margin-bottom: 35px;

      @include mq(md) {
        margin-bottom: 50px;
      }
    }
  }

  .content_2 {
    margin-top: 25px;

    @include mq(lg) {
      margin-top: 0;
    }
  }

  a {
    color: $charcoal;
    &:hover {
      color: $white;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 35px;

    &.two-col {
      column-count: 2;
    }

    li {
      padding-left: 20px;
      position: relative;
      margin-bottom: 20px;

      &::before {
        content: "\f111";
        font-size: 8px;
        position: absolute;
        left: 0;
        top: 0;
        font-family: $fontawesome;
        font-weight: 600;
        color: $white;
      }
    }
  }

  a {
    color: #ddd;

    &:hover {
      color: $black;
    }
  }
}
