.block--white_large_column {
  padding: 80px 15px;

  @include mq(md) {
    padding: 124px 0 111px;
  }

  h2 {
    margin-bottom: 35px;

    @include mq(lg) {
      margin-bottom: 50px;
    }

    &:not(:first-child) {
      margin-top: 70px;

      @include mq(md) {
        margin-top: 100px;
      }
    }
  }

  p {
    margin-bottom: 50px;
    line-height: 1.5em;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 50px;
    column-count: 1;
    column-gap: 30px;

    @include mq(md) {
      column-count: 2;
    }

    li {
      padding-left: 20px;
      position: relative;
      margin-bottom: 20px;

      &::before {
        content: "\f111";
        font-size: 8px;
        position: absolute;
        left: 0;
        top: 0;
        font-family: $fontawesome;
        font-weight: 600;
        color: $primary;
      }
    }
  }
}
