.block--white_large_column {
  padding: 80px 15px;

  @include mq(md) {
    padding: 124px 0 111px;
  }

  h2 {
    margin-bottom: 35px;

    @include mq(lg) {
      margin-bottom: 50px;
    }

    &:not(:first-child) {
      margin-top: 70px;

      @include mq(md) {
        margin-top: 100px;
      }
    }
  }

  p {
    margin-bottom: 50px;
    line-height: 1.5em;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 50px;
    column-count: 1;
    column-gap: 30px;

    @include mq(md) {
      column-count: 2;
    }

    li {
      padding-left: 20px;
      position: relative;
      margin-bottom: 20px;

      &::before {
        content: "\f111";
        font-size: 8px;
        position: absolute;
        left: 0;
        top: 0;
        font-family: $fontawesome;
        font-weight: 600;
        color: $primary;
      }
    }
  }
  .gform_wrapper {
    margin: 35px 0 0;

    ::placeholder {
      color: $charcoal;
    }

    form {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
    .gform_body {
      ul.gform_fields {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 15px;

        @include mq(md) {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-gap: 22px 36px;
        }

        #field_3_4 {
          @include mq(md) {
            grid-row-start: 1;
            grid-column-start: 2;
            grid-row-end: 4;
          }
        }

        li.gfield {
          margin: 0;
          input,
          textarea {
            background: #fdfdfd;
            border: 2px solid #dddddd;
            border-radius: 5px;
            padding: 14px 25px !important;
            font-size: 16px !important;
            line-height: 21px;
            color: #555;
            text-transform: initial;
          }
          textarea {
            height: 203px;
          }
        }
      }
    }
    .btn--white {
      @extend .btn--primary;
      margin: 25px auto 0;
    }
    p {
      height: 0;
      margin: 0;
    }
    br {
      display: none;
    }
  }
}
