.block--white_block_with_breadcrumbs {
  padding: 50px 15px;

  @include mq(md) {
    padding: 70px 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .breadcrumbs {
    font-size: 16px;
    line-height: 1em;
    color: $charcoal;
    margin-bottom: 70px;

    a {
      color: $charcoal;
    }

    span {
      color: $primary;
    }
  }

  .image__holder {
    img {
      width: 100%;
      height: auto;
    }
  }

  h1 {
    font-size: 2.33rem;
    line-height: 1.28em;
    margin-bottom: 40px;
    color: $primary;
    font-weight: normal;
  }

  .content_2 {
    margin-top: 35px;
    @include mq(lg) {
      margin-top: 0;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 35px;

    li {
      padding-left: 20px;
      position: relative;
      margin-bottom: 20px;

      &::before {
        content: "\f111";
        font-size: 8px;
        position: absolute;
        left: 0;
        top: 0;
        font-family: $fontawesome;
        font-weight: 600;
        color: $primary;
      }
    }
  }

  nav.navigation {
    ul {
      column-count: 2;
    }
  }

  sub {
    line-height: 1em;
  }
}
.page-id-1922 {
  .block--white_block_with_breadcrumbs {
    padding-bottom: 0;
    h1 {
      margin-bottom: 0;
    }
  }
}
.page-id-1982 {
  .image__holder {
    box-shadow: rgba($black, 0.1) 0 4px 10px;
    margin-bottom: 30px;
  }
}

.page-id-1639,
.page-id-1920,
.page-id-3479 {
  .block--white_block_with_breadcrumbs {
    h1 {
      display: none;
    }

    .breadcrumbs {
      margin: 0;
    }
  }
}
