.block--white_block_with_breadcrumbs {
  padding: 80px 15px;

  @include mq(md) {
    padding: 140px 0 112px;
  }

  .breadcrumbs {
    font-size: 16px;
    line-height: 1em;
    color: $charcoal;
    margin-bottom: 70px;

    a {
      color: $charcoal;
    }

    span {
      color: $primary;
    }
  }

  h1 {
    font-size: 2.33rem;
    line-height: 1.28em;
    margin-bottom: 40px;
    color: $primary;
    font-weight: normal;
  }

  .content_2 {
    margin-top: 35px;
    @include mq(lg) {
      margin-top: 0;
    }
  }
}

.page-id-1639,
.page-id-1920 {
  .block--white_block_with_breadcrumbs {
    h1 {
      display: none;
    }

    .breadcrumbs {
      margin: 0;
    }
  }
}
