.shop--top,
.block--woocommerce_block {
  margin-top: 225px;
}

.woocommerce {
  .return-to-shop {
    .wc-backward {
      @extend .btn--primary;
    }
  }
  ul.products {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3vw;

    @include mq(sm) {
      grid-template-columns: 1fr 1fr;
    }
    @include mq(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &::before {
      display: none;
    }

    li.product {
      margin: 0;
      float: none;
      border-bottom: 1px solid #dddddd;
      width: 100% !important;
      display: flex;
      flex-direction: column;
      padding-bottom: 25px;

      a.woocommerce-loop-product__link {
        height: 100%;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;

        &:hover {
          img {
            border: 1px solid $primary;
          }
        }
      }
      img {
        border: 1px solid #dddddd;
        border-radius: 5px;
        margin-bottom: 0 !important;
        transition: all 0.3s ease-in-out;
      }

      h2 {
        font-size: 18px;
        line-height: 21px;
        color: $charcoal;
        margin-bottom: 25px;
        padding: 0 !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
      }

      .price {
        font-size: 19px;
        line-height: 21px;
        font-weight: bold;
        color: $charcoal;
        margin-top: auto !important;
      }

      .button,
      .tinv-wraper.tinv-wishlist {
        font-family: $futura;
        font-size: 18px;
        line-height: 21px;
        text-decoration: underline;
        color: $primary;
        margin-bottom: 0;
        background: none;
        padding: 0;
        font-weight: normal;

        &:hover {
          color: $primary;
        }
      }
      .tinv-wraper.tinv-wishlist {
        margin-top: 20px;
        a {
          margin: 0;
        }
      }

      .button {
        i {
          margin-left: 8px;
        }
      }
    }
  }
  .woocommerce-pagination {
    ul.page-numbers {
      border: none;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: $primary;
        border: 2px solid $primary;
        margin: 0 12.5px;
        height: 50px;
        width: 50px;
        border-radius: 5px;

        .page-numbers {
          color: $primary;
          background: none;
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;

          &.current {
            background: $primary;
            color: $white;
          }

          &:hover {
            background: #dddddd;
          }
        }
      }
    }
  }
  .woocommerce-message {
    background: #f0f0f0;
    border-radius: 0 0 5px 5px;
    color: $charcoal;
    border-top: 3px solid $primary;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 80px;

    &::before {
      color: $primary;
      top: 27px;
    }

    .button,
    .restore-item {
      @extend .btn--primary;
      margin-left: auto;
      height: 42px;
      width: auto;
    }
  }
}

.products--header,
.product-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
  align-items: center;

  h1 {
    margin-bottom: 14px;
  }

  .text-link {
    font-size: 18px;
    line-height: 21px;
    color: $charcoal;

    &:hover {
      color: $primary;
    }
    i {
      font-size: 1.2em;
      margin-right: 15px;
    }
    &:first-of-type {
      margin-left: auto;
      margin-right: 50px;
    }
  }
}

.product-info {
  padding: 37px 0 21px;
  margin-bottom: 65px;

  .breadcrumbs {
    font-size: 16px;
    line-height: 1em;
    color: $charcoal;

    a {
      color: $charcoal;
    }

    span {
      color: $primary;
    }
  }

  .result-count,
  form.woocommerce-ordering {
    margin: 0;
  }

  .result-count {
    margin-left: 20px;
    margin-right: 0px;
    order: 3;
  }

  form.woocommerce-ordering {
    display: flex;
    align-items: center;
    margin-left: auto;
    order: 2;

    i {
      margin-right: 8px;
    }

    select {
      border: none;
      width: auto;
      -webkit-appearance: none;
      cursor: pointer;

      &:focus {
        outline: none !important;
      }
    }
  }
}

.woocommerce-sidebar {
  background: #fcfcfc;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 214px;

  .widget {
    padding: 43px 30px;
    border-bottom: 1px solid #dddddd;

    .dgwt-wcas-search-wrapp {
      max-width: 100%;
      min-width: unset;
    }

    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 52px;
      color: $charcoal;
      margin-bottom: 15px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        font-size: 18px;
        line-height: 52px;
        font-weight: 400;
        color: $charcoal;

        a {
          color: $charcoal;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.shop--single-product {
  margin-top: 295px;
  padding-bottom: 120px;

  h2 {
    font-family: $futura;
    font-style: italic;
    font-weight: 500;
    font-size: 2.33rem;
    line-height: 1.28em;
    color: $primary;
  }

  hr {
    margin: 50px 0;
  }

  h3 {
    font-family: $futura;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $primary;
    margin-bottom: 10px;
  }

  .woocommerce-product-gallery--with-images {
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    a.woocommerce-product-gallery__trigger {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 9;
    }

    img {
      margin: 0 auto;
      width: auto;
      max-height: 500px;
      display: block;
    }
  }
  ol.flex-control-nav.flex-control-thumbs {
    border-top: 1px solid #ddd;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  form {
    margin-top: 80px;
    display: flex;

    .quantity {
      .qty {
        height: 60px;
        border-radius: 5px;
        border: 1px solid #ddd;
        margin-right: 15px;

        &:focus {
          outline: 2px solid $primary;
        }
      }
    }
  }
  .btn--primary {
    border-left: 0;
  }

  &.cart--block {
    form {
      margin-top: 0;

      .coupon {
        .btn--primary {
          margin-left: auto;
          height: 42px;
          width: auto;
        }
      }

      button[type="submit"] {
        margin-left: auto;
        height: 42px;
        width: auto;
      }
      #coupon_code {
        width: 180px;
        height: 41px;
      }

      a.remove {
        color: $primary !important;

        &:hover {
          background: $primary;
          color: $white !important;
        }
      }

      &.checkout {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .col-1,
        .col-2 {
          width: 100%;
          float: none;
          max-width: unset;
        }
      }
    }
  }

  .woocommerce-info {
    border-top: 3px solid $primary;
    background: #f0f0f0;
    color: $charcoal;

    &::before {
      color: $primary;
    }
  }

  &.checkout--block {
    .woocommerce-form-coupon-toggle {
      margin-bottom: 50px;
    }

    form.checkout {
      .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
        grid-column: span 2;
        margin-bottom: 50px;
      }
      .form-row {
        padding: 0;
        margin-bottom: 20px;

        span.woocommerce-input-wrapper {
          display: block;
          width: 100%;
        }

        label {
          margin-bottom: 8px;
          line-height: 1em;

          &.checkbox {
            margin-top: 15px;
          }
        }

        input:not([type="checkbox"]),
        textarea,
        select,
        .select2-selection--single {
          background: #fdfdfd;
          border: 2px solid #ddd;
          border-radius: 5px;
          padding: 9px 25px !important;
          font-size: 16px !important;
          line-height: 21px;
          color: $charcoal;
          text-transform: initial;
          width: 100%;
          height: auto;
        }
        .select2-selection__arrow {
          height: 48px;
        }
      }
      button[type="submit"] {
        @extend .btn--primary;
      }
    }
    table.shop_table {
      border: none;
      border-collapse: unset;
      margin: 0 0 35px;

      th {
        padding: 0;
        line-height: 1em;
      }

      td {
        font-size: 16px;
        padding: 12px 20px;
        border: none;
      }
    }
    .cart_item {
      &:nth-child(odd) {
        background: #f0f0f0;
      }
    }
  }
}

.related--products {
  padding: 65px 0 180px;
  background: #fcfcfc;

  h2:not(.woocommerce-loop-product__title) {
    font-family: $futura;
    font-style: italic;
    font-weight: 500;
    font-size: 2.33rem;
    line-height: 1.28em;
    color: $primary;
    border-bottom: 1px solid #ddd;
    padding-bottom: 14px;
    margin-bottom: 65px;
  }
}

.woocommerce .cart-collaterals {
  .products {
    grid-template-columns: 1fr 1fr;
  }

  .cart_totals {
    .checkout-button {
      @extend .btn--primary;
    }
  }
}
